* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ecf0f1;
}
.App {
  display: flex;
  flex-direction: column;
}
.app_header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.app_infobox {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.app_form {
  text-align: center;
  margin-top: 2rem;
}
.app_header > h1 {
  margin-left: 1rem;
}
.app_header > .form {
  margin-right: 1rem;
}
td {
  display: flex;
  justify-content: space-between;
}
td:nth-child(odd) {
  background-color: #e0f9ff;
}
.country_tr {
  display: flex;
}
.chart_card {
  margin-top: 5rem;
}
.chart_header > h4 {
  margin-bottom: 1rem;
}
.chart_data {
  height: 15rem;
  overflow: scroll;
  padding: 1rem;
}
.main_infobox {
  border-top: 3px solid red;
}
@media (max-width: 380px) {
  .app_infobox {
    flex-direction: column;
  }
}
